<%-- 
Name:	IBatisNetGen.cst
Version: 2007.02.08
Author: Yaojian  ( smrtk@hotmail.com )
Description: Generate data class and its sql mapping file for IBatis.Net (see ibatis.apache.org)
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" ResponseEncoding="UTF-8" Src="CSBatisBuilder.cs" Inherits="TableTemplate" Debug="true"  Description="Generates IBatis map and data class from a database table." %>

<%@ Assembly Name="System" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Src="CSBatisBuilder.cs" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.ComponentModel" %>
<%@ Import Namespace="System.Collections.Specialized" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Globalization" %>
<%@ Import Namespace="CSBatisBuilder" %>
<script runat="template">
	protected override FileOption GetDefaultFileOption() {
		return FileSetOption.CreateDefaultEntityOption();
	}
</script>
/***************************************************************************************************************
 * 
 * 2012-2013 苏宁资产管理系统 版权所有  
 * 
 * 文件名：           <% =this.FileName %>
 * 
 * 描述：             
 * 
 * 作者：             徐静(13060319)
 * 
 * 版本：             1.0
 * 
 * 最后更新：         徐静(13060319)
 * 
 * 创建时间：         <%=DateTime.Now.ToString("yyyy/M/d HH:mm:ss tt", new CultureInfo("en-US"))%>
 * 
 * 最后更新时间：     <%=DateTime.Now.ToString("yyyy/M/d HH:mm:ss tt", new CultureInfo("en-US"))%>
 * 
 *****************************************************************************************************************/
<%--//==============================================================================
//	CAUTION: This file is generated by <% =CodeTemplateInfo.FileName %> at <% =CodeTemplateInfo.DateCreated %>
//				Any manual editing will be lost in re-generation.
//==============================================================================--%>
using System;
using System.Collections.Generic;
using System.Text;

<%	if (Builder.EntityOption.Usings != null)
{
		foreach (String s in Builder.EntityOption.Usings)
		{ %>
using <% =s %>;
<%		} %>
<%	} %>
namespace <% =Builder.EntityNamespace %>
{	
    /// <summary><c><% =Builder.EntityName %></c> Business Object.</summary>
    [Serializable]
    public <% =Builder.EntityPartialDecl %>class <% =Builder.EntityName %><% =Builder.EntityBaseDecl %>
	{        
        <% foreach (ColumnInfo c in Builder.Columns)
		{ %>
        #region <% =c.PropName %>

        <% =c.VarAccessDecl %> <% =c.ClrTypeDecl %> <% =c.VarName %>;
		
		/// <summary>Gets or sets <% =c.PropName %></summary>
        <% =c.PropAccessDecl %> <% =c.ClrTypeDecl %> <% =c.PropName %>
		{
        	get
			{
				return <% =c.VarName %>;
			}
        	set
			{
				<% =c.VarName %> = value;
			}        
        }
		
	    #endregion
		
		<% } %>

	}
	
}
